@page
@model LockoutModel
@{
    ViewData["Title"] = "Kilitli";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu hesap kilitlendi, lütfen daha sonra tekrar deneyin.</p>
</header>
