@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola sıfırlamayı onaylayın";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Lütfen <a asp-page="./Login">giriş yapmak için tıklayın</a>.
</p>
