﻿@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 style="color: sandybrown" class="display-4"><strong>Hastane Randevu Sistemine Hoş Geldiniz!</strong></h1>
    <h3 style="color: sandybrown" class="display-4"><strong>Online Randevu Sistemi</strong></h3>
    <br />
    <br />
    <p><img src="/img/hastane.jpg"/></p>
</div>