﻿@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 style="color: sandybrown" class="display-4">@_localization.Getkey("Hastane Randevu Sitesine Hoş Geldiniz!").Value</h1>
    <h3 style="color: sandybrown" class="display-4"><strong>@_localization.Getkey("Online Randevu Sistemi").Value</strong></h3>
    <br />
    <br />
    <p><img src="/img/hastane.jpg"/></p>
</div>