﻿
<br />
<br />
<br />
@{
    ViewData["Title"] = "İletişim Bilgileri:";
}
<h1 style="color: sandybrown">@ViewData["Title"]</h1>

<br />
<h4 style="color: sandybrown">Admin Adresi:</h4>
<br />
<h4>Hüsnügören Mahallesi, Azizağalar Yerleşkesi, No:79 Feraye Apt., İç Kapı No:3, Kat:2</h4>
<h4> Shire/Orta Dünya</h4>
<br />
<h4 style="color: sandybrown">E-Posta:</h4>
<h5>
    <a href="mailto:hmayn7faikn3k2sod@sakarya.edu.tr">hmayn7faikn3k2sod@sakarya.edu.tr</a>
</h5>
