@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt Onayı";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Bu uygulamanın şu anda kayıtlı gerçek bir e-posta göndericisi yok, gerçek bir e-posta göndericisinin nasıl yapılandırılacağını öğrenmek için <a href="https://aka.ms/aspaccountconf">bu belgelere bakın.</a> Normalde bu e-postayla gönderilir: Hesabınızı onaylamak için <a id="confirm-link" href="@Model.EmailConfirmationUrl">burayı tıklayın.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

